*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
body{width: 100%;height: 100%;overflow: hidden;}
nav{background-color: blanchedalmond;}
ul{display: flex; justify-content: space-between; }
.nav_title{height: 3em; font-weight: bold; font-size: 25px;}
.nav_content{height: 2em; font-weight: bold; font-size: 25px;}
li{text-align: center; width: 20%;}
a{text-decoration: none; color: black;}
h1{color: red;}
